<%= form_for(@registration_whitelist) do |f| %>
  <%= errors(@registration_whitelist) %>

  <div class="form-group">
    <%= f.email_field :email, placeholder: 'email.address@example.com', class: 'form-control',
      required: true, autofocus: true %>
  </div>

  <%= f.submit value: "Allow this user to register", class: "btn btn-primary" %>
<% end %>
