<center>
<div class="page-header">
  <h1>Allowed users</h1>
  <div class="well allowed-users-summary">
    This is a list of people who will be allowed to <strong>register</strong> (i.e. create an account) and login to the system with their own email and password.  <em>This is not a list of current users</em>.  Removing a user from this list will not remove them from the system.
  </div>
</div>

<% if @registration_whitelists.any? %>
  <table class="table table-list allowed-users-list">
    <thead>
      <tr>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="registration-whitelists">
      <% @registration_whitelists.each do |allowed| %>
        <tr>
          <td><%= allowed.email %></td>
          <td><%= link_to 'Remove', allowed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  This list is currently empty
<% end %>
<br>

<%= link_to 'Add another user', new_registration_whitelist_path, class: 'btn btn-primary' %>
</center>
