<div class="page-header">
  <h1>Add allowed user</h1>
  <small>
    This user will be able to register and log in with their email address and password.
  </small>
</div>

<%= render 'form' %>

<br/>
<%= link_to 'Back', registration_whitelists_path %>
